<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><center>This is a GET method form submit</center></h2>
    <form action="">
        Name:
        <input type="text" name="name"><br><br>
        Email:
        <input type="email" name="email" ><br><br>

        <button type="submit" value="submit">submit</button>
    </form>

    {{name}}
    {{email}}
</body>
</html>