<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add new User</h2>

    <form>
        <input type="text" name="image" placeholder="Enter your image ">  <br> <br>
        <input type="text" name="name" placeholder="Enter your name "> <br> <br>
        <input type="text" name="age" placeholder="Enter your age "> <br> <br>
        <input type="text" name="mobile" placeholder="Enter your Mobile "> <br> <br>
        <input type="text" name="gender" placeholder="Enter your Gender "> <br> <br>

        <input type="submit">
    </form>
</body>
</html>