<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>HTML form in INT value Print</center></h1>
    <form action="">
        Number 1:
        <input type="number" name="n1" value="{{n1}}" placeholder="Enter a num 1"> <br><br>
        Number 2:
        <input type="number" name="n2" value="{{n2}}" placeholder="Enter a num 2"> <br><br>

        <button type="submit" name="submit">submit</button>
    </form>
</body>
</html>