<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>ADD users</center></h1>
    <form action="">
        Image:
        <input type="text" name="image" placeholder="Enter a image"><br><br>

        Name:
        <input type="text"  name="name" value="" placeholder="Enter a name"><br><br>

        Age:
        <input type="text" name="age" value="" placeholder="Enter a age "><br><br>

        Number:
        <input type="text" name="number" value="" placeholder="Enter a number "><br><br>

        Gender:
        <input type="text" name="gender" value="" placeholder="Enter a gender"><br><br>

        <input type="submit" name="submit">
    </form>
</body>
</html>