{% extends 'base.html' %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            background-color: aquamarine; 
            height: 100px;
        }
        footer{
            background-color: blueviolet;
            color: white;
            height: 50px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="about/">About</a>
        <a href="contact/">Contact</a>
        <a href="services/">Services</a>
    </header> -->

        <!--include -->
    <!-- {% include 'header.html' %}
    <h1>Home Page</h1>
    {% include 'footer.html' %} -->
   
    {% block content %}
    <h2>Home page</h2>
    {% endblock %}


    <!-- <footer>
        <h2>Poonam Bhavsar</h2>
    </footer>
</body>
</html> -->